.list {
    &__container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        row-gap: 35px;
        column-gap: 30px;
    }

    &__item {
        padding: 50px 20px;
        width: 350px;
        height: 250px;
        text-align: center;
        font-size: 28px;
        font-weight: 800;
        background-color: #000000;

        & a {
            color: var(--theme-default-header);
            text-align: center;
            text-decoration: underline;
        }
    }
}
