.button {
    border-radius: 3px;
    font-size: 28px;
    padding: 8px 25px;
    box-shadow: 0px 0px 10px #ffec80;
    border: 2px solid #e7cc33;

    &:disabled {
        box-shadow: 0px 0px 0px red;
        border: 2px solid #949494;
        color: #949494;
        cursor: default;
    }
}

.light {
    box-shadow: 0px 0px 10px #b4ffff;
    border: 2px solid #31e4e4;

    &:disabled {
        box-shadow: 0px 0px 0px red;
        border: 2px solid #949494;
    }
}

.dark {
    box-shadow: 0px 0px 10px red;
    border: 2px solid red;

    &:disabled {
        box-shadow: 0px 0px 0px red;
        border: 2px solid #949494;
    }
}
