.header {
    padding: 25px 0 10px;
}

.list {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__container2 {
        display: flex;
        column-gap: 20px;
        align-items: center;
        margin-bottom: 30px;
    }

    &__item {
        width: 170px;
    }

    &__link {
        color: #b4b4b4;
        font-size: 21px;
        padding: 10px 20px;
        font-weight: 600;
        text-align: center;
        border: 2px solid transparent;
        border-radius: 3px;

        &.active {
            border: 2px solid var(--color-white);
            color: var(--color-white);
            text-shadow: 0 0 2px var(--color-white), 0 0 30px var(--color-blue);
        }
    }
}
