@use './variables' as *;

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    font-family: var(--font-family);
    background-color: #101010;
    color: #ffffff;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.main__container {
    margin: 0 auto;
    max-width: 1110px;
}
