@use './variables' as *;

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    font-family: var(--font-family);
    background-color: #101010;
    color: #ffffff;
    background: url('./static/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.main__container {
    margin: 0 auto;
    max-width: 1110px;
}

.header__text {
    line-height: 1.7;
    font-size: 32px;
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
}
