:root {
    --container-width: 1920px;
    --container-padding-x: 24px;

    --font-family: 'Inter', sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #ffff00;
    --color-blue: #6a83fb;

    --theme-default-header: #cccc46;
    --theme-default-bg: url('./static/bg.jpg')

    --font-size-header: 26px;

    --transition-duration: 0.3s;
}
